<div>
    <form>
        <div class="mb-3">
            <label class="form-label">Matricula: </label>
            <input type="number" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label class="form-label">Aluno: </label>
            <input type="text" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label class="form-label">Nota 01: </label>
            <input type="number" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label class="form-label">Nota 02: </label>
            <input type="number" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary">Gravar</button>
        </div>
    </form>
</div>
